
  <ion-header no-border>
    <ion-toolbar >
      
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-searchbar placeholder="Buscar articulos"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-tab-button tab="tab5" >
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-tab-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
<ion-content>
    <nav class="nav">
        <ion-label>Teléfonos</ion-label>
    </nav>
    
    <ion-grid  class="background">
        
            <ion-grid class="ArticleContainer">
            <div class="Article">
                <div class="ArticleImg">
                    <img src="\assets\Img\iphoneImg.png" alt="IphoneImg" class="img">
                    <ion-fab-button class="details">+</ion-fab-button>
                </div>
                <div class="description">
                    <ion-item lines="none">Iphone 12 Pro Max</ion-item>    
                    <h5>$14,399.00</h5>
                    <ion-button size="default" attribute="strong" >Comprar</ion-button>       
                </div>
            </div>
            <ion-fab-button class="stock" color="warning"></ion-fab-button>
            </ion-grid>
    </ion-grid>
    
    <ion-grid  class="background">
            <ion-grid class="ArticleContainer">
            <div class="Article">
                <div class="ArticleImg">
                    <img src="\assets\Img\samsumg.png" alt="samsumgimage" class="img">
                    <ion-fab-button class="details">+</ion-fab-button>
                </div>
                <div class="description">
                    <ion-item lines="none">Samsumg Note 20</ion-item>    
                    <h5>$22,499.00</h5>
                    <ion-button size="default" attribute="strong" >Comprar</ion-button>       
                </div>
            </div>
            <ion-fab-button class="stock" color="success"></ion-fab-button>
            </ion-grid>
    </ion-grid>

    <ion-grid  class="background">
            <ion-grid class="ArticleContainer">
            <div class="Article">
                <div class="ArticleImg">
                    <img src="\assets\Img\xiaomi.jpg" alt="xiaomiimage" class="img">
                    <ion-fab-button class="details">+</ion-fab-button>
                </div>
                <div class="description">
                    <ion-item lines="none">Xiaomi mi 11</ion-item>    
                    <h5>$21,999.00</h5>
                    <ion-button size="default" attribute="strong" >Comprar</ion-button>       
                </div>
            </div>
            <ion-fab-button class="stock" color="danger"></ion-fab-button>
            </ion-grid>
    </ion-grid>

    <ion-grid  class="background">
        <ion-grid class="ArticleContainer">
        <div class="Article">
            <div class="ArticleImg">
                <img src="\assets\Img\samsumgs21.jpg" alt="IphoneImg" class="img">
                <ion-fab-button class="details">+</ion-fab-button>
            </div>
            <div class="description">
                <ion-item lines="none">Samsumg S21</ion-item>    
                <h5>$22,439.00</h5>
                <ion-button size="default" attribute="strong" >Comprar</ion-button>       
            </div>
        </div>
        <ion-fab-button class="stock" color="success"></ion-fab-button>
        </ion-grid>
</ion-grid>

</ion-content>
