<ion-header no-border>
  <ion-toolbar >
    <ion-title size="medium">Menú Principal</ion-title>

    <ion-buttons slot="end">
      <ion-tab-button tab="tab5" ><ion-icon name="person-outline"></ion-icon></ion-tab-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true"> 	
  

      <ion-slides pager="true" id="container">
        <ion-slide class="slide-1">
          <ion-label>Iphone</ion-label>
          <ion-card>
            <ion-img src="assets\Img\iphoneImg.png" class="img"></ion-img>
          </ion-card>
          <ion-label>De $15,999</ion-label>
          <ion-label>A $14,399</ion-label>
        </ion-slide>
    
    
        <ion-slide class="slide-1">
          <ion-label>Samsumg</ion-label>
          <ion-card>
            <ion-img src="assets\Img\samsumg.png" ></ion-img>
          </ion-card>
          <ion-label>De $24,499</ion-label>
          <ion-label>A $22,499</ion-label>
        </ion-slide>
    
        <ion-slide class="slide-1">
          <ion-label>Xiaomi</ion-label>
          <ion-card>
            <ion-img src="assets\Img\xiaomi.jpg" class="img"></ion-img>
          </ion-card>
          <ion-label>De $22,999</ion-label>
          <ion-label>A $21,999</ion-label>
        </ion-slide>
      </ion-slides> 
 

    
</ion-content>
